.menu-list {
    width: 224px;

    .menu-item{
        margin-left: 0;
        color: var(--black);
    }
}

.menu-popper{
    padding-bottom: 8px;
}

.menu-body{
    overflow-y: auto;
}

.menu-item {
    width: 100%;
    height: 42px;
    justify-content: flex-start;
    font-size: 1.6rem;
    padding: 11px 16px;
    border-radius: 0;

    &.separate {
        border-top: 1px solid rgba(22, 24, 35, 0.03);
    }

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}


//Header
.header {
    display: flex;
    align-items: center;
    height: 50px;
    position: relative;
    margin-top: -8px;
    flex-shrink: 0;
}

.back-btn {
    width: 50px;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
}

.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

