.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-bottom-width: 52px;

    height: var(--default-layout-header-height);
    display: flex;
    justify-content: center;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
}

.inner{
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    
}

.search, .search-result {
    width: 361px;
}

.search {
    height: var(--search-height);
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: var(--search-border-radius);
    padding-left: 16px;
    display: flex;
    position: relative;
    border: 1.5px solid transparent;

    &::after {
        content: "";
        display: block;
        width: 1px;
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        background-color: rgba(22, 24, 35, 0.12);
        position: absolute;
        top: var(--search-top-spacer);
        right: var(--search-bottom-width);
    }

    &:focus-within {
        border-color:rgba(22, 24, 35, 0.2);
    }

    input {
        flex: 1;
        height: 100%;
        color: var(--black);
        font-size: 1.6rem;
        background: transparent;
        caret-color: var(--primary);
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }
}

.search-result{
    
}

.clear, .loading{
    position: absolute;
    top: 50%;
    right: calc(var(--search-bottom-width) + 1rem);
    transform: translateY(-50%);
    color:rgba(22, 24, 35, 0.34);
}

.search-btn{
    width: var(--search-bottom-width);
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 1.8rem;
    color: rgba(22, 24, 35, 0.34);
    cursor: pointer;
    
    &:hover {
        background-color: rgba(22, 34, 35, 0.03);
    }

    &:active {
        background-color: rgba(22, 24, 35, .06);
    }
}

.search-title{
    font-size: 1.4rem;
    font-weight: 600;
    padding: 5px 12px;
    color:rgba(22, 24, 35, 0.5);
}

.custom-login {
    color: red;
}

.actions{
    display: flex;
    align-items: center;
}

.more-btn{
    font-size: 2rem;
    padding: 4px 8px;
    margin-left: 28px;
    background: transparent;
    cursor: pointer;
}